.contenedorGeneral{
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorCentral{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F0CBA8;
    margin-left: 60px;
}
.contenedorCentralImg{
    width: 45%;
    display: flex;
    justify-content: center;
}
    .contenedorCentralImg img{
        height: 80vh;
        border-radius: 10%;
    }
.parrafo{
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    margin-right: 70px;
}
    .parrafo pre{
        margin-right: 100px;
    }
/* footer{
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 60px;
    border: solid 3px green;

} */

footer{
    margin-block-start: 15px;
    background-color: #F27405;
    height: 13vh;
    display: flex;
    width: 80%;
    position: relative;
    left: 32px;
}

.piepagina{
    display: flex;
    align-items: end;
}

.icon{
    width: 38px;
    height: 38px;
    border-radius: 10px;
    margin-inline-start: 25px;
    margin-block-end: 5px;
}

.botton{
    width: 15%;
    height: 4vh;
    border-radius: 20px;
    margin-inline-start: 150vh;
    margin-block-end: 5px;
    position: relative;
    right: 230px;
}