body{
    margin: 0;
    background-color: #F0CBA8;
}

.h1{
    margin: 0;
    margin-inline-start: 15px;
}

.navegacion{
    background-color: #F27405;
    width: 100%;
    height: 15vh;
    font-size: xx-large;
    font-weight: 600;
    color: white;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
    background-color: #F0CBA8;
    margin: 0;
}

.nav{
    background-color: white;
    width: 350px;
    height: 230px;
    display: flex;
}

img{
    width: 200px;
    height: 200px;
    margin: 9px;
    border: solid black 5px;
}

.articles{
    font-size: x-large;
    font-weight: 600;
    margin-inline-start: 9px;
    margin-block-start: 9px;
}

.precio{
    margin-block-start: 18px;
    font-size: large;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    right: 80px;
}

button{
    margin-block-start: 40px;
    height: 30px;
    width: 80px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.botton{
    width: 9%;
    height: 4vh;
    border-radius: 20px;
    margin-inline-start: 180vh;
    margin-block-end: 5px;
}